# Beautiful Tables

**Inhalt:** Lesbare Tabellen in Pandas

**Nötige Skills:** Erste Schritte mit Pandas

**Lernziele:**
- Zahlenformate kennenlernen und anwenden
- Tabellen-Leserlichkeit mit Styles optimieren
- Chartform: Heatmaps

**Weitere Ressourcen:**
- Cookbook für String Formats: https://mkaz.blog/code/python-string-format-cookbook/
- User Guide zu Styles: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.format.html
- Reference Style-Funktion: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.format.html

In [3]:
import pandas as pd

In [33]:
import numpy as np

## Das Beispiel

Eine Liste von Ländern mit ihrer Grösse und diversen Eigenschaften.

Quelle: Weltbank (https://data.worldbank.org/indicator)

## Daten laden

In [4]:
path = "dataprojects/Worldbank/worldbank_countries.xlsx"

In [5]:
df = pd.read_excel(path)

In [6]:
df.head(3)

,Country Name,Country Code,Population,Forest Area,GDP per Capita,Unemployment,Renewable Energy,Life Expectancy,Female Labor Participation,Urban Population,CO2 Emissions per Capita,Fertility Rate,Population Growth
0,Kuwait,KWT,4270563,0.003507,36290,0.0679,0.000336,75.489,0.4978,1.00000,21.622724,2.077,0.014978
1,United Arab Emirates,ARE,9890400,0.044678,43470,0.0500,0.002592,77.972,0.5205,0.87048,20.797498,1.387,0.012194
2,Brunei Darussalam,BRN,437483,0.721063,32230,0.0837,0.000109,75.860,0.5609,0.78250,16.644909,1.819,0.009617

## Pandas Display Options

Wir interessieren uns also für Länder und deren diverse Eigenschaften. Was in Pandas zuweilen aber gar nicht so easy ist: Einfach mal durch die Daten schauen.

Dataframes werden in der Übersicht abgekürzt, wir sehen nur die ersten und letzten fünf Zeilen:

In [9]:
df

,Country Name,Country Code,Population,Forest Area,GDP per Capita,Unemployment,Renewable Energy,Life Expectancy,Female Labor Participation,Urban Population,CO2 Emissions per Capita,Fertility Rate,Population Growth
0,Kuwait,KWT,4270563,0.003507,36290,0.0679,0.000336,75.48900,0.4978,1.00000,21.622724,2.0770,0.014978
1,United Arab Emirates,ARE,9890400,0.044678,43470,0.0500,0.002592,77.97200,0.5205,0.87048,20.797498,1.3870,0.012194
2,Brunei Darussalam,BRN,437483,0.721063,32230,0.0837,0.000109,75.86000,0.5609,0.78250,16.644909,1.8190,0.009617
3,Canada,CAN,38005238,0.386955,46460,0.0948,0.221829,82.04878,0.6113,0.81562,15.497025,1.4684,0.010896
4,Australia,AUS,25687041,0.174213,55100,0.0661,0.096450,82.90000,0.6082,0.86241,15.475516,1.6570,0.012587
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Central African Republic,CAF,4829764,0.358005,520,0.0433,0.809485,53.28300,0.6447,0.42198,0.070719,4.6450,0.017668
151,Chad,TCD,16425859,0.034252,700,0.0226,0.852578,54.23900,0.6400,0.23520,0.069132,5.6490,0.029594
152,Burundi,BDI,11890781,0.108894,280,0.0080,0.855269,61.58400,0.8050,0.13708,0.052795,5.3210,0.030761
153,Somalia,SOM,15893219,0.095323,320,0.1310,0.948753,57.39700,0.2221,0.46141,0.045975,5.9780,0.028743
154,"Congo, Dem. Rep.",COD,89561404,0.556473,530,0.0455,0.963837,60.68100,0.6099,0.45638,0.026169,5.8190,0.031427

Ein erster, simpler Schritt: Wir wollen einfach mal sämtliche Daten sehen, statt nur die Vorschau der ersten und letzten fünf Zeilen. Wir können dazu eine Einstellung vornehmen, die ab diesem Punkt für das gesamte weitere Notebook gilt:

In [10]:
pd.set_option("display.max_rows", 1000)

Ab jetzt zeigt Pandas jedesmal bis zu 1000 Zeilen einer Tabelle an. Das genügt uns.

In [11]:
df

,Country Name,Country Code,Population,Forest Area,GDP per Capita,Unemployment,Renewable Energy,Life Expectancy,Female Labor Participation,Urban Population,CO2 Emissions per Capita,Fertility Rate,Population Growth
0,Kuwait,KWT,4270563,0.003507,36290,0.0679,0.000336,75.489000,0.4978,1.00000,21.622724,2.0770,0.014978
1,United Arab Emirates,ARE,9890400,0.044678,43470,0.0500,0.002592,77.972000,0.5205,0.87048,20.797498,1.3870,0.012194
2,Brunei Darussalam,BRN,437483,0.721063,32230,0.0837,0.000109,75.860000,0.5609,0.78250,16.644909,1.8190,0.009617
3,Canada,CAN,38005238,0.386955,46460,0.0948,0.221829,82.048780,0.6113,0.81562,15.497025,1.4684,0.010896
4,Australia,AUS,25687041,0.174213,55100,0.0661,0.096450,82.900000,0.6082,0.86241,15.475516,1.6570,0.012587
5,Saudi Arabia,SAU,34813867,0.004545,22840,0.0822,0.000157,75.133000,0.2209,0.84287,15.268781,2.2750,0.015788
6,United States,USA,329484123,0.338669,65910,0.0831,0.101072,78.787805,0.5676,0.82664,15.240875,1.7050,0.003509
7,Oman,OMN,5106622,0.000081,14150,0.0497,0.000015,77.861000,0.3597,0.86276,15.192124,2.8420,0.026114
8,Trinidad and Tobago,TTO,1399491,0.444815,16580,0.0674,0.004546,73.507000,0.5009,0.53214,12.778440,1.7110,0.003236
9,Turkmenistan,TKM,6031187,0.087822,7220,0.0438,0.000566,68.191000,0.4439,0.52516,12.259648,2.7400,0.014882
10,"Korea, Rep.",KOR,51780579,0.644688,33790,0.0407,0.031840,83.226829,0.5377,0.81414,12.224591,0.9180,0.001381
11,Estonia,EST,1331057,0.560939,23230,0.0646,0.288422,78.497561,0.5745,0.69229,12.103085,1.6600,0.003129
12,Russian Federation,RUS,144104080,0.497843,11250,0.0573,0.031805,73.083902,0.5458,0.74754,11.126618,1.5040,-0.002095
13,Czech Republic,CZE,10698896,0.346773,21930,0.0294,0.147253,79.129268,0.5281,0.74061,9.640705,1.7100,0.002529
14,Libya,LBY,6871287,0.001233,7640,0.1939,0.026262,72.913000,0.3401,0.80691,8.825249,2.2060,0.013750
15,Netherlands,NLD,17441139,0.109742,53010,0.0409,0.073837,82.012195,0.5900,0.92236,8.772824,1.5700,0.005535
16,Japan,JPN,125836021,0.684088,41580,0.0297,0.073877,84.356341,0.5356,0.91782,8.742258,1.3600,-0.003403
17,Germany,DEU,83240525,0.326836,48550,0.0431,0.157956,80.941463,0.5564,0.77453,8.558390,1.5400,0.001774
18,Singapore,SGP,5685807,0.219605,58390,0.0519,0.007273,83.497561,0.6191,1.00000,8.399135,1.1400,-0.003119
19,Poland,POL,37950802,0.309730,15350,0.0355,0.112638,77.856098,0.4860,0.60043,8.235472,1.4200,-0.000387
20,Belgium,BEL,11555997,0.227642,47960,0.0601,0.106627,81.746341,0.4895,0.98079,8.179711,1.5700,0.005816
21,Ireland,IRL,4994724,0.113517,63470,0.0592,0.107444,82.302439,0.5629,0.63653,7.624325,1.7000,0.012163
22,Malaysia,MYS,32365998,0.581770,11230,0.0455,0.053105,76.156000,0.5133,0.77160,7.600220,1.9830,0.012943
23,South Africa,ZAF,59308690,0.140551,6040,0.2874,0.103433,64.131000,0.4959,0.67354,7.496645,2.3810,0.012734
24,China,CHN,1402112000,0.233406,10390,0.0500,0.131238,76.912000,0.6057,0.61428,7.405211,1.6960,0.003141
25,Austria,AUT,8917205,0.472510,51390,0.0577,0.338456,81.792683,0.5516,0.58748,7.146638,1.4600,0.004190
26,Norway,NOR,5379475,0.333600,81620,0.0462,0.608138,82.907317,0.6059,0.82974,7.031361,1.5300,0.005888
27,Bosnia and Herzegovina,BIH,3280815,0.427326,6180,0.1685,0.354009,77.401000,0.3744,0.49020,6.781132,1.2540,-0.006133
28,Slovenia,SVN,2100126,0.614723,25910,0.0517,0.210061,81.280488,0.5330,0.55118,6.774695,1.6100,0.005606
29,Mongolia,MNG,3278292,0.091011,3790,0.0433,0.033583,69.870000,0.5533,0.68657,6.725098,2.8670,0.016338
30,New Zealand,NZL,5084300,0.375701,42610,0.0455,0.310396,81.707317,0.6488,0.86699,6.572665,1.7200,0.020868
31,Serbia,SRB,6908224,0.311302,7030,0.0908,0.211447,75.685366,0.4792,0.56446,6.521922,1.5200,-0.005343
32,Belarus,BLR,9398861,0.431944,6370,0.0528,0.072198,74.226829,0.5764,0.79483,6.254021,1.3820,-0.002018
33,Greece,GRC,10715549,0.302700,19690,0.1685,0.178591,81.939024,0.4454,0.79715,6.083175,1.3500,-0.000563
34,Cyprus,CYP,1207361,0.186721,27930,0.0721,0.121436,80.982000,0.5813,0.66821,6.079401,1.3210,0.007304
35,Slovak Republic,SVK,5458827,0.400562,19200,0.0679,0.124204,77.470732,0.5235,0.53760,6.058635,1.5600,0.000858
36,"Bahamas, The",BHS,393248,0.509351,33460,0.1441,0.010193,73.918000,0.7007,0.83245,5.860464,1.7430,0.009613
37,Bulgaria,BGR,6927288,0.358604,9570,0.0571,0.195275,74.914634,0.5041,0.75686,5.854773,1.5800,-0.006973
38,Denmark,DNK,5831404,0.157110,64000,0.0566,0.353287,81.202439,0.5788,0.88116,5.761494,1.7000,0.002916
39,Spain,ESP,47351567,0.371738,30330,0.1567,0.173889,83.485366,0.5216,0.80810,5.520350,1.2400,0.004615
40,United Kingdom,GBR,67215293,0.131856,42130,0.0434,0.110450,81.204878,0.5809,0.83903,5.398708,1.6500,0.005654
41,Italy,ITA,59554023,0.321302,34830,0.0931,0.170743,83.197561,0.4100,0.71039,5.376374,1.2700,-0.002935
42,Equatorial Guinea,GNQ,1402985,0.872877,6280,0.0915,0.049047,58.735000,0.5480,0.73100,5.095625,4.4290,0.034076
43,Turkey,TUR,84339067,0.288715,9690,0.1392,0.118740,77.691000,0.3427,0.76105,5.015418,2.0550,0.010842
44,Portugal,PRT,10305564,0.361550,23150,0.0720,0.276138,80.682927,0.5472,0.66310,4.840613,1.4200,0.001875
45,Hungary,HUN,9749763,0.224963,16530,0.0435,0.135341,76.021951,0.4845,0.71942,4.745506,1.4900,-0.002190
46,Chile,CHL,19116209,0.244922,14990,0.1151,0.254607,80.181000,0.5180,0.87727,4.624872,1.6270,0.008625
47,France,FRA,67391582,0.315090,42290,0.0862,0.152526,82.578049,0.5065,0.80975,4.619241,1.8700,0.002119
48,Switzerland,CHE,8636896,0.321163,87950,0.0494,0.242031,83.704878,0.6290,0.73915,4.401991,1.4800,0.007160
49,Barbados,BRB,287371,0.146512,17380,0.1279,0.058356,79.190000,0.6176,0.31191,4.360871,1.6230,0.001219
50,Ukraine,UKR,44134693,0.167242,3370,0.0948,0.069073,71.827317,0.4687,0.69608,4.154181,1.2280,-0.005683
51,Lithuania,LTU,2794700,0.351429,19000,0.0843,0.334991,76.134146,0.5726,0.68046,4.137006,1.6100,0.000201
52,Montenegro,MNE,621718,0.614870,9070,0.1586,0.406072,76.884000,0.4780,0.67488,4.049969,1.7480,-0.000498
53,Lebanon,LBN,6825442,0.140108,7420,0.0661,0.047100,78.930000,0.2311,0.88925,4.039707,2.0750,-0.004425
54,Argentina,ARG,45376763,0.104407,11130,0.1167,0.105208,76.667000,0.5134,0.92111,3.987234,2.2470,0.009701
55,Latvia,LVA,1901548,0.549330,17730,0.0819,0.412529,75.239024,0.5579,0.68315,3.959165,1.6100,-0.006434
56,Romania,ROU,19286123,0.301158,12610,0.0484,0.230493,75.458537,0.4560,0.54194,3.845133,1.7600,-0.004425
57,Mexico,MEX,128932753,0.337931,9480,0.0471,0.096253,75.054000,0.4558,0.80731,3.741478,2.1030,0.010582
58,Thailand,THA,69799978,0.388988,7260,0.0102,0.237233,77.150000,0.5879,0.51430,3.714039,1.5140,0.002502
59,Maldives,MDV,540542,0.027333,9670,0.0718,0.011183,78.921000,0.4161,0.40669,3.703675,1.8400,0.017891
60,Botswana,BWA,2351625,0.269171,7660,0.1770,0.281989,69.592000,0.6533,0.70877,3.642305,2.8360,0.020589
61,Suriname,SUR,586634,0.974121,6340,0.0865,0.192165,71.682000,0.3944,0.66149,3.611193,2.3940,0.009026
62,Algeria,DZA,43851043,0.008183,4010,0.1283,0.001933,76.880000,0.1701,0.73733,3.591657,2.9880,0.018365
63,North Macedonia,MKD,2083380,0.397102,5840,0.1840,0.208716,75.797000,0.4492,0.58482,3.538239,1.4890,-0.000037
64,Sweden,SWE,10353442,0.686946,56090,0.0845,0.524828,82.958537,0.6119,0.87977,3.538009,1.7000,0.007227
65,Uzbekistan,UZB,34232050,0.083750,1800,0.0597,0.014875,71.725000,0.4884,0.50416,3.401191,2.7850,0.019221
66,Mauritius,MUS,1265740,0.190985,12900,0.0711,0.091989,74.235854,0.4504,0.40760,3.264040,1.4000,0.000023
67,Azerbaijan,AZE,10110116,0.136929,4490,0.0627,0.019713,73.005000,0.6325,0.56397,3.221402,1.8000,0.008526
68,Malta,MLT,525285,0.014375,28340,0.0409,0.074648,82.600000,0.4837,0.94744,3.198316,1.1000,0.041242
69,Moldova,MDA,2617820,0.117530,4580,0.0471,0.257461,71.901000,0.3822,0.42849,3.171832,1.2690,-0.017206
70,Guyana,GUY,786559,0.935501,6630,0.1582,0.168080,69.906000,0.4284,0.26786,3.132193,2.4400,0.004822
71,Vietnam,VNM,97338583,0.472251,2590,0.0227,0.234918,75.400000,0.7273,0.37340,2.698806,2.0500,0.009045
72,Lao PDR,LAO,7275556,0.719042,2490,0.0095,0.418841,67.923000,0.7649,0.36290,2.660908,2.6260,0.014690
73,Tunisia,TUN,11818618,0.045232,3340,0.1669,0.118868,76.699000,0.2489,0.69568,2.592259,2.1740,0.010539
74,St. Vincent and the Grenadines,VCT,110947,0.731795,7460,0.2027,0.049250,72.534000,0.5701,0.53032,2.540604,1.8720,0.003196
75,Georgia,GEO,3714000,0.406159,4690,0.1205,0.279436,73.767000,0.5524,0.59453,2.538542,2.0550,-0.001657
76,"Egypt, Arab Rep.",EGY,102334403,0.000452,2690,0.1045,0.047444,71.990000,0.1846,0.42783,2.502042,3.2800,0.019202
77,Jordan,JOR,10203140,0.010982,4410,0.1850,0.071898,74.526000,0.1459,0.91418,2.478595,2.6910,0.009992
78,Panama,PAN,4314768,0.568079,14900,0.1023,0.244112,78.506000,0.5486,0.68414,2.427656,2.4370,0.015963
79,Dominican Republic,DOM,10847904,0.443821,8100,0.0890,0.160882,74.081000,0.5427,0.82540,2.363758,2.3230,0.010094
80,Ecuador,ECU,17643060,0.503214,6100,0.0623,0.163302,77.010000,0.5517,0.64166,2.313812,2.4030,0.015387
81,Gabon,GAB,2225728,0.913207,7170,0.2047,0.898871,66.467000,0.4329,0.90092,2.175272,3.9220,0.024170
82,St. Lucia,LCA,183629,0.340492,11080,0.1713,0.102192,76.203000,0.6877,0.18841,2.144153,1.4240,0.004552
83,Brazil,BRA,212559409,0.594175,9270,0.1367,0.470617,75.881000,0.5509,0.87073,2.041874,1.7190,0.007129
84,Bolivia,BOL,11673029,0.469249,3520,0.0561,0.075725,71.513000,0.6370,0.70123,2.000328,2.6880,0.013795
85,Uruguay,URY,3473727,0.116044,17740,0.1267,0.607291,77.911000,0.5546,0.95515,1.890244,1.9630,0.003459
86,Morocco,MAR,36910558,0.128669,3200,0.1015,0.108323,76.680000,0.2159,0.63532,1.850727,2.3820,0.011959
87,Tonga,TON,105697,0.124306,5000,0.0437,0.017089,70.907000,0.3809,0.23099,1.841103,3.5180,0.011418
88,Bhutan,BTN,771612,0.714494,3140,0.0374,0.810936,71.777000,0.5946,0.42316,1.829278,1.9540,0.011101
89,India,IND,1380004385,0.242702,2120,0.0711,0.316892,69.656000,0.2079,0.34926,1.799825,2.2020,0.009894
90,Belize,BLZ,397621,0.559864,4700,0.0782,0.401163,74.623000,0.4997,0.46025,1.775128,2.2740,0.018453
91,Kyrgyz Republic,KGZ,6591600,0.068581,1240,0.0789,0.232124,71.600000,0.4409,0.36856,1.739736,3.3000,0.020755
92,Namibia,NAM,2540916,0.080639,5180,0.2035,0.303270,63.708000,0.5577,0.52033,1.735898,3.3440,0.018427
93,Peru,PER,32971846,0.565081,6790,0.0624,0.278974,76.736000,0.7058,0.78297,1.696819,2.2330,0.014092
94,Costa Rica,CRI,5094114,0.594373,12070,0.1708,0.357048,80.279000,0.5190,0.80771,1.652184,1.7370,0.009181
95,Samoa,WSM,198410,0.571272,4200,0.0887,0.366186,73.321000,0.3112,0.17889,1.631588,3.8300,0.006660
96,Colombia,COL,50882884,0.533050,6580,0.1544,0.307182,77.287000,0.5619,0.81425,1.600651,1.7890,0.010738
97,Philippines,PHL,109581085,0.241090,3850,0.0336,0.232201,71.231000,0.4705,0.47408,1.333691,2.5260,0.013454
98,Lesotho,LSO,2142252,0.011370,1290,0.2465,0.384157,54.331000,0.6038,0.29028,1.218976,3.1080,0.007960
99,Paraguay,PRY,7132530,0.405292,5510,0.0761,0.592314,74.254000,0.5998,0.62183,1.210454,2.4050,0.012399
100,Cabo Verde,CPV,555988,0.113449,3630,0.1341,0.229988,72.981000,0.5343,0.66652,1.140201,2.2420,0.010945
101,Guatemala,GTM,16858333,0.329209,4610,0.0465,0.640977,74.302000,0.4055,0.51836,1.113969,2.8220,0.015200
102,El Salvador,SLV,6486201,0.281795,3990,0.0698,0.232125,73.317000,0.4537,0.73444,1.060625,2.0210,0.005047
103,Honduras,HND,9904608,0.568349,2390,0.0939,0.500624,75.270000,0.5226,0.58359,1.019033,2.4270,0.016131
104,Sri Lanka,LKA,21919000,0.341559,4010,0.0484,0.514049,76.978000,0.3355,0.18713,0.998154,2.1880,0.005306
105,Pakistan,PAK,220892331,0.048333,1410,0.0465,0.417418,67.273000,0.2167,0.37165,0.981820,3.4540,0.019783
106,Eswatini,SWZ,1160164,0.289279,3670,0.2340,0.660652,60.194000,0.4861,0.24171,0.959276,2.9580,0.010424
107,Mauritania,MRT,4649660,0.003035,1660,0.1066,0.251307,64.925000,0.2810,0.55327,0.908407,4.5030,0.027022
108,Angola,AGO,32866268,0.534270,2970,0.0770,0.567855,61.147000,0.7611,0.66825,0.887380,5.4420,0.032185
109,Papua New Guinea,PNG,8947027,0.791763,2750,0.0274,0.495533,64.501000,0.4642,0.13345,0.866804,3.5200,0.019287
110,Zimbabwe,ZWE,14862927,0.450939,1200,0.0573,0.813636,61.490000,0.7812,0.32242,0.849793,3.5310,0.014739
111,Nicaragua,NIC,6624554,0.283159,1900,0.0582,0.501914,74.485000,0.4974,0.59012,0.805815,2.3770,0.012005
112,Tajikistan,TJK,9537642,0.030535,1070,0.0750,0.394741,71.097000,0.2918,0.27506,0.805420,3.5560,0.022974
113,Benin,BEN,12123198,0.278037,1250,0.0254,0.439723,61.771000,0.6875,0.48415,0.688722,4.7670,0.026924
114,Cambodia,KHM,16718971,0.457080,1530,0.0031,0.618377,69.823000,0.7691,0.24232,0.686778,2.4780,0.014000
115,Nigeria,NGA,206139587,0.237458,2030,0.0901,0.796542,54.687000,0.4852,0.51958,0.667110,5.3170,0.025430
116,Sao Tome and Principe,STP,219161,0.540625,1950,0.1386,0.378450,70.385000,0.4164,0.74354,0.663406,4.2670,0.018945
117,Senegal,SEN,16743930,0.419060,1430,0.0710,0.366227,67.941000,0.3512,0.48122,0.621912,4.5560,0.027094
118,Vanuatu,VUT,307150,0.362838,3360,0.0195,0.307770,70.474000,0.6097,0.25525,0.615017,3.7440,0.023947
119,"Congo, Rep.",COG,5518092,0.642635,1810,0.1027,0.698546,64.570000,0.6757,0.67829,0.613993,4.3740,0.025250
120,Myanmar,MMR,54409794,0.437260,1360,0.0179,0.601111,67.134000,0.4623,0.31141,0.605493,2.1380,0.006719
121,Solomon Islands,SLB,686878,0.901383,2370,0.0079,0.485018,72.996000,0.8211,0.24670,0.566741,4.3610,0.025146
122,Ghana,GHA,31072945,0.350959,2210,0.0453,0.419766,64.074000,0.6386,0.57349,0.541201,3.8160,0.021308
123,Bangladesh,BGD,164689383,0.144688,1940,0.0530,0.307062,72.591000,0.3637,0.38177,0.512837,2.0110,0.010028
124,Djibouti,DJI,988002,0.002502,3310,0.1157,0.278358,67.112000,0.5074,0.78062,0.510990,2.6760,0.014728
125,Timor-Leste,TLS,1318442,0.619435,2020,0.0506,0.183848,69.495000,0.6189,0.31320,0.504742,3.9430,0.019393
126,Sudan,SDN,43849269,0.099282,820,0.1771,0.614144,65.311000,0.2936,0.35253,0.483236,4.3470,0.023911
127,Zambia,ZMB,18383956,0.602833,1430,0.1217,0.851046,63.886000,0.7040,0.44629,0.446065,4.5590,0.028857
128,Nepal,NPL,29136808,0.415907,1230,0.0444,0.750397,70.778000,0.8152,0.20576,0.428179,1.8760,0.018291
129,Cote d'Ivoire,CIV,26378275,0.089205,2290,0.0350,0.635326,57.783000,0.4458,0.51706,0.395305,4.5930,0.025406
130,Kenya,KEN,53771300,0.063448,1750,0.0298,0.722715,66.699000,0.7201,0.27995,0.358028,3.4230,0.022519
131,Cameroon,CMR,26545864,0.430295,1500,0.0362,0.806303,59.292000,0.7130,0.57560,0.341843,4.5060,0.025543
132,Comoros,COM,869595,0.176894,1400,0.0843,0.550059,64.321000,0.3442,0.29380,0.312379,4.1380,0.021744
133,Haiti,HTI,11402533,0.126016,1330,0.1450,0.762430,64.001000,0.6369,0.57088,0.299375,2.8870,0.012305
134,Mali,MLI,20250834,0.108967,870,0.0750,0.766082,59.306000,0.5784,0.43909,0.294584,5.7850,0.029710
135,Togo,TGO,8278737,0.222333,920,0.0405,0.750850,61.042000,0.5625,0.42800,0.286471,4.2590,0.024007
136,Liberia,LBR,5057677,0.790847,580,0.0330,0.872133,64.104000,0.7200,0.52089,0.273917,4.2470,0.024074
137,Guinea,GIN,13132792,0.251872,950,0.0435,0.698839,61.602000,0.6272,0.36875,0.251323,4.6250,0.027916
138,"Gambia, The",GMB,2416664,0.239792,750,0.0964,0.523836,62.050000,0.5111,0.62582,0.249990,5.1540,0.028954
139,Mozambique,MOZ,31255435,0.467252,490,0.0339,0.659421,60.854000,0.7744,0.37074,0.225115,4.7830,0.028868
140,Burkina Faso,BFA,20903278,0.227208,780,0.0496,0.669662,61.577000,0.5849,0.30607,0.216186,5.1090,0.028232
141,Tanzania,TZA,59734213,0.516426,1100,0.0216,0.836558,65.456000,0.7969,0.35227,0.205635,4.8320,0.029368
142,Guinea-Bissau,GNB,1967998,0.704129,800,0.0316,0.867893,58.322000,0.6588,0.44196,0.165395,4.4020,0.024214
143,Ethiopia,ETH,114963583,0.151142,850,0.0279,0.899231,66.597000,0.7331,0.21695,0.149051,4.1460,0.025414
144,Uganda,UGA,45741000,0.116592,780,0.0244,0.903339,63.368000,0.6693,0.24954,0.143462,4.8240,0.032697
145,Sierra Leone,SLE,7976985,0.351189,540,0.0460,0.796240,54.696000,0.5753,0.42923,0.133331,4.1690,0.020745
146,Madagascar,MDG,27691019,0.213644,510,0.0192,0.815686,67.041000,0.8323,0.38534,0.128321,4.0260,0.026409
147,Niger,NER,24206636,0.008524,600,0.0069,0.779660,62.420000,0.6080,0.16626,0.102037,6.8240,0.037714
148,Rwanda,RWA,12952209,0.111877,830,0.0135,0.856945,69.024000,0.8389,0.17432,0.087791,3.9900,0.025434
149,Malawi,MWI,19129955,0.237770,550,0.0599,0.732250,64.263000,0.7253,0.17427,0.086534,4.1270,0.026549
150,Central African Republic,CAF,4829764,0.358005,520,0.0433,0.809485,53.283000,0.6447,0.42198,0.070719,4.6450,0.017668
151,Chad,TCD,16425859,0.034252,700,0.0226,0.852578,54.239000,0.6400,0.23520,0.069132,5.6490,0.029594
152,Burundi,BDI,11890781,0.108894,280,0.0080,0.855269,61.584000,0.8050,0.13708,0.052795,5.3210,0.030761
153,Somalia,SOM,15893219,0.095323,320,0.1310,0.948753,57.397000,0.2221,0.46141,0.045975,5.9780,0.028743
154,"Congo, Dem. Rep.",COD,89561404,0.556473,530,0.0455,0.963837,60.681000,0.6099,0.45638,0.026169,5.8190,0.031427

Für eine unbeschränkte Ansicht könnten wir hier statt einem Zahlenwert auch `None` setzen.

Es gibt weitere Display-Optionen, die wir einstellen können:
- `display.max_columns`: Maximale Spaltenzahl, analog zur Zeilenzahl. Damit wir auch alle Spalten sehen, falls es sehr viele sind.
- `display.max_colwidth`: Maximale Zeichenzahl, die in einer Zelle angezeigt werden soll. Damit der ganze Text in einer Zelle angezeigt wird, falls wir nicht nur eine abgekürzte Variante davon sehen wollen.

Eine vollständige Liste der Optionen findet sich hier: https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

Praktisch für uns ist zum Beispiel auch die folgende Option:

In [12]:
pd.set_option("display.precision", 2)

Wir erhalten nun nicht mehr zig Dezimalstellen angezeigt, sondern nur noch eine. Das erleichtert das Lesen.

In [13]:
df.head(5)

,Country Name,Country Code,Population,Forest Area,GDP per Capita,Unemployment,Renewable Energy,Life Expectancy,Female Labor Participation,Urban Population,CO2 Emissions per Capita,Fertility Rate,Population Growth
0,Kuwait,KWT,4270563,3.51e-03,36290,0.07,3.36e-04,75.49,0.50,1.00,21.62,2.08,1.50e-02
1,United Arab Emirates,ARE,9890400,4.47e-02,43470,0.05,2.59e-03,77.97,0.52,0.87,20.80,1.39,1.22e-02
2,Brunei Darussalam,BRN,437483,7.21e-01,32230,0.08,1.09e-04,75.86,0.56,0.78,16.64,1.82,9.62e-03
3,Canada,CAN,38005238,3.87e-01,46460,0.09,2.22e-01,82.05,0.61,0.82,15.50,1.47,1.09e-02
4,Australia,AUS,25687041,1.74e-01,55100,0.07,9.65e-02,82.90,0.61,0.86,15.48,1.66,1.26e-02

Das ist besser, aber immer noch nicht schön. Zum Beispiel würden wir die Arbeitslosenquote gerne in Prozent sehen (7,1% statt 0.07) und hätten bei der Bevölkerung gerne Tausender-Trennzeichen (4'270'563).

Um das zu tun, bietet Pandas / Python eine Reihe von Formatierungscodes an.

## Exkurs: Zahlen formatieren

### Das Prinzip

Zahlen zu formatieren, funktioniert in Python etwas schräg.

Wir starten mit einem Format-Ausdruck (einem String):

In [16]:
'{:.2f}'

'{:.2f}'

Ausgehend von diesem String können wir eine Funktion aufrufen: `.format()`

Der Parameter, den wir dieser Funktion mitgeben, ist die Zahl, die wir formatieren wollen.

In [17]:
'{:.2f}'.format(5.39120)

'5.39'

Note: Bei dieser Prozedur haben wir auch eine Typenumwandlung vollzogen:
- Unsere ursprüngliche Zahl (`5.39120`) war eine Floating-Point-Number

In [18]:
type(5.39120)

float

- Der Output dieser Funktion (`'5.39'`) ist ein String.

In [19]:
type('5.39')

str

Nach dem Formatieren können wir also keine mathematischen Berechnungen mehr mit der Zahl machen!

### Format-Strings

Wie funktionieren diese Formatierungs-Strings?

#### 1. Die Hülle

Der einfachste Formatstring macht - gar nichts, sondern gibt die Zahl einfach tel quel zurück: `{}`

In [20]:
'{}'.format(3.1415926)

'3.1415926'

Damit wir die Zahl bearbeiten können, braucht es zunächst mal einen Doppelpunkt: `:`

Wenn wir den einsetzen, passiert aber immer noch nichts.

In [21]:
'{:}'.format(3.1415926)

'3.1415926'

Es braucht also noch weitere Angaben.

#### 2. Runden

Wir können eine Zahl nach dem Komma runden mit folgendem Ausdruck: `.2f`

Das f steht dabei für "float" und die 2 für die Anzahl Ziffern nach dem Komma.

In [22]:
'{:.2f}'.format(3.1415926)

'3.14'

#### 3. Prozentzahlen

Um die Zahl in Prozent anzugeben, Prozentzeichen: `%`

In [23]:
'{:%}'.format(3.1415926)

'314.159260%'

Man kann auch Prozentzahlen runden:

In [24]:
'{:.2%}'.format(3.1415926)

'314.16%'

#### 4. Plus- und Minuszeichen

Um explizit ein Pluszeichen anzugeben, falls die Zahl grösser als null ist: `+`

In [25]:
'{:+.2%}'.format(3.1415926)

'+314.16%'

#### 5. Nullen vorneanstellen

Kann zB hilfreich sein, wenn man die Zahlen später als Text sortieren muss oder wenn es sich um bestimmte Codes handelt: `03d`

Das "d" steht dabei für digits (ganze Zahlen) und die 3 für die Gesamtzahl der Ziffern.

In [15]:
'{:03d}'.format(42)

'042'

Das funktioniert ähnlich auch bei Floats. Allerdings muss man hier sowohl die Gesamtzahl der Zeichen (zB 6) als auch die Länge hinter dem Komma angeben (zB 2):

In [16]:
'{:06.2f}'.format(3.1415926)

'003.14'

**6. Tausendertrennzeichen**

Trägt auch stark zur Lesbarkeit bei: Tausenderzeichen. Der Code dafür ist ein Komma: `,`

In [19]:
'{:,}'.format(31415926)

'31,415,926'

Leider müssen wir uns mit der amerikanischen Variante (,) begnügen. Die deutschen Hochkommas (') gehen nicht.

#### 7. Währungen

Um eine bestimmte Währung vor oder hinter der Zahl anzuzeigen: Einfach ausserhalb der geschweiften Klammern die Einheit hinschreiben, zB `CHF`

In [20]:
'CHF {:,}'.format(31415926)

'CHF 31,415,926'

#### 8. Grosse zahlen runden

Wenn zB die genauen Frankenbeträge nicht wichtig sind, können wir sie auch vor dem Komma runden.

In [30]:
# code fehlt noch. gibt es das überhaupt?

**Übersicht und weitere Formate:**

Hier eine Übersicht, kopiert von: https://mkaz.blog/code/python-string-format-cookbook/

| Number | Format | Output | Description |
| -------|--------|--------|------------- |
| 3.1415926 | {:.2f} | 3.14 | Format float 2 decimal places |
| 3.1415926 | {:+.2f} | +3.14 | Format float 2 decimal places with sign |
| -1 | {:+.2f} | -1.00 | Format float 2 decimal places with sign |
| 2.71828 | {:.0f} | 3 | Format float with no decimal places |
| 5 | {:0>2d} | 05 | Pad number with zeros (left padding, width 2) |
| 5 | {:x<4d} | 5xxx | Pad number with x’s (right padding, width 4) |
| 10 | {:x<4d} | 10xx | Pad number with x’s (right padding, width 4) |
| 1000000 | {:,} | 1,000,000 | Number format with comma separator |
| 0.25 | {:.2%} | 25.00% | Format percentage |
| 1000000000 | {:.2e} | 1.00e+09 | Exponent notation |
| 13 | {:10d} |         13 | Right aligned (default, width 10) |
| 13 | {:<10d} | 13 | Left aligned (width 10) |
| 13 | {:^10d} |     13 | Center aligned (width 10) |

Weitere Infos zB hier: https://pyformat.info/

## Tabellen separat formatieren

Wir können die Format-Strings nun nutzen, um Spalten separat zu formatieren.

Dazu definieren wir in einem Dictionary für jede Spalte das passende Format.

In [23]:
col_formats = {
    'Country Name': '{}',
    'Country Code': '{}',
    'Population': '{:,}',
    'Forest Area': '{:.0%}',
    'GDP per Capita': '$ {:,}',
    'Unemployment': '{:.0%}',
    'Renewable Energy': '{:.0%}',
    'Life Expectancy': '{:.1f}',
    'Female Labor Participation': '{:.0%}',
    'Urban Population': '{:.0%}',
    'CO2 Emissions per Capita': '{:.1f} t',
    'Fertility Rate': '{:.1f}',
    'Population Growth': '{:.1%}'
}

Wir können diesen Dictionary verwenden, um den `style` der Tabelle zu definieren:

In [65]:
df.style.format(col_formats)

**Achtung:** Was wir hier sehen, ist kein Dataframe mehr, sondern nur noch eine Repräsentation davon.

Der folgende Code funktioniert deshalb nicht:

In [25]:
# df.style.format(col_formats).head()

AttributeError: 'Styler' object has no attribute 'head'

Das heisst leider: Wir können den Style eines Dataframes immer nur ganz am Schluss setzen, wenn wir keine Berechnungen mehr machen müssen und nur noch das Endergebnis sehen wollen.

Aber immerhin: Wir können die definierten Spaltenformate auf beliebige Modifikationen unseres Dataframes anwenden, sofern einzelne Spalten immmer noch gleich heissen.

In [31]:
df[df['Country Name'] == 'Switzerland'][['Population', 'GDP per Capita']].style.format(col_formats)

## Coole Dinge, die man mit Styles tun kann

Da wir nun aber schonmal mit Styles arbeiten, hier einige hübsche Anwendungen, die es uns noch leichter machen, die Daten in unserem DF zu lesen, Muster zu erkennen und evtl auch Fehler zu bemerken.

### Einzelne Werte herausstreichen

#### 1. Fehlende Zahlen

Angenommen, es hätte sich irgendwo ein `NaN`-Wert in unsere Daten reingeschlichen:

In [34]:
df.loc[df['Country Name'] == 'Bulgaria', 'Renewable Energy'] = np.nan

Es gibt eine einfache Style-Funktion, die uns darauf hinweist: `highlight_null()`

In [35]:
df.style.highlight_null(null_color='yellow')

#### Kleinste und grösste Werte

Wir können für jede Spalte anzeigen:
- wo der Maximalwert zu finden ist: `highlight_max()`
- wo der Minimalwert zu finden ist: `highlight_min()`

In [37]:
df.style.highlight_max()

### Farbcodierte Werte

Wir können Styles auch benutzen, um eine Tabelle Heatmap-ähnlich einzufärben.

Dazu gibt es die Funktion `background_gradient()`:

In [44]:
df[['Country Name', 'Unemployment']].style.background_gradient(cmap='coolwarm')

Uns stehen eine Reihe von verschiedenen Colormaps zur Verfügung: https://matplotlib.org/2.0.2/examples/color/colormaps_reference.html

Zusätzlich können wir definieren, an welchen Eckpunkten die Range angesetzt werden soll.

Zum Beispiel:
- Minimum bei 0.05 (unterhalb davon ist alles blau)
- Maximum bei 0.15 (oberhalb davon ist alles tiefrot)

In [45]:
df[['Country Name', 'Unemployment']].style.background_gradient(cmap='coolwarm', vmin=0.05, vmax=0.15)

Wir können Colormaps auch nur auf einzelne Spalten anwenden mit dem Parameter `subset=`

In [46]:
df.style.background_gradient(cmap='coolwarm', vmin=0.05, vmax=0.15, subset=['Unemployment'])

Und wir können unterschiedliche Colormaps auf unterschiedliche Spalten anwenden.

Dazu verketten wir einfach zwei `background_gradient()` aneinander:

In [49]:
df.style.background_gradient(
    cmap='coolwarm',
    vmin=0.05,
    vmax=0.15,
    subset=['Unemployment']
).background_gradient(
    cmap='Greens',
    vmin=0,
    vmax=1,
    subset=['Forest Area']
)

Diese Verkettung funktioniert auch, wenn wir zum Schluss noch die Zahlen formatieren wollen:

In [50]:
df.style.background_gradient(
    cmap='coolwarm',
    vmin=0.05,
    vmax=0.15,
    subset=['Unemployment']
).background_gradient(
    cmap='Greens',
    vmin=0,
    vmax=1,
    subset=['Forest Area']
).format(col_formats)

### Mini Bar Charts

Eine weitere Darstellungsmöglichkeit: kleine Barcharts in die Tabelle integrieren mit `bar()`:

In [53]:
df.style.bar(subset=['Urban Population'], color='#d65f5f')

## Styles wiederverwenden

Sagen wir, wir haben einen wunderschönen Style generiert – inklusive Heatmap, Barchart, Highlights und Zahlenformaten.

In [60]:
df.style.background_gradient(
    cmap='coolwarm',
    vmin=0.05,
    vmax=0.15,
    subset=['Unemployment']
).background_gradient(
    cmap='Greens',
    vmin=0,
    vmax=1,
    subset=['Forest Area']
).bar(
    subset=['Urban Population'],
    color='#d65f5f'
).format(
    col_formats
).highlight_max().highlight_min()

Um diesen Style wiederzuverwenden, müssen wir nicht jedesmal den ganzen Wust erneut schreiben.

Wir können den Style speichern mit `export()`...

In [62]:
my_style = df.style.background_gradient(
    cmap='coolwarm',
    vmin=0.05,
    vmax=0.15,
    subset=['Unemployment']
).background_gradient(
    cmap='Greens',
    vmin=0,
    vmax=1,
    subset=['Forest Area']
).bar(
    subset=['Urban Population'],
    color='#d65f5f'
).format(
    col_formats
).highlight_max().highlight_min().export()

... und den Style erneut anwenden mit `use()`:

In [63]:
df.style.use(my_style)

## Formatierte Daten exportieren

### nach Excel

Wir können formatierte Dataframes ins Excel transportieren. Das funktioniert aber nur mässig: Bei unserem Beispiel klappt es mit den Heatmaps und Highlights, aber nicht mit den Barcharts und Zahlenformaten :-/

In [73]:
df.style.use(my_style).to_excel("dataprojects/Worldbank/formatted_table.xlsx", index=False)

### als csv

Beim Export in ein csv sollte man sich grundsätzlich gut überlegen, wie viel Formatierung man überhaupt exportieren will!
- **Tausenderzeichen** im CSV festzuhalten macht sehr wahrscheinlich keinen Sinn, da das nächste Programm, das diese Daten bearbeitet, diese erst wieder mühsam erkennen will.
- Dasselbe gilt für **Währungsangaben** oder auch für **Prozentzeichen**. Normalerweise würde man diese Formatierungen im weiterverarbeitenden Programm (zB in einem Charttool) wieder separat vornehmen. Das heisst, wir exportieren nicht "5.1%" sondern "0.051".
- Was allerdings Sinn machen kann, ist, Zahlen zu runden, also die Zahl der **Dezimalstellen** zu beschränken. Dafür gibt es in der Export-Funktion einen passenden Parameter.

In [74]:
df.to_csv("dataprojects/Worldbank/rounded_table.csv", float_format="%.2f")