In [1]:
import requests

In [2]:
url = "https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2020-01-01&endtime=2020-01-31"
response = requests.get(url)
response.text

'16249'

In [3]:
url = "https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2021-07-01&endtime=2021-07-31"
response = requests.get(url)
response.text

'15719'

In [4]:
baseurl = "https://earthquake.usgs.gov/fdsnws/event/1/count?"
starttime = "starttime=2021-01-01&"
endtime = "endtime=2021-01-31"

In [17]:
starttime_liste = ["starttime=2021-01-01",
                  "starttime=2021-02-01",
                  "starttime=2021-03-01"]

In [18]:
endtime_liste = ["&starttime=2021-01-31",
                  "&starttime=2021-02-28",
                  "&starttime=2021-03-31"]

In [19]:
for start, end in zip(starttime_liste, endtime_liste):
    print(baseurl + start + end)

https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2021-01-01&starttime=2021-01-31
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2021-02-01&starttime=2021-02-28
https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=2021-03-01&starttime=2021-03-31

In [5]:
testliste = ["eins", "zwei", "drei"]

In [6]:
print(testliste)

['eins', 'zwei', 'drei']

In [8]:
testliste[0]

'eins'

In [9]:
testliste[1]

'zwei'

In [10]:
testliste[2]

'drei'

In [11]:
for ziffer in testliste:
    print(ziffer)

eins
zwei
drei

In [23]:
import datetime
from dateutil.relativedelta import relativedelta

In [26]:
liste_ = []

month = datetime.date(2020,12,1)
while month < datetime.date(2021,9,1):
    month = month + relativedelta(months=1)
    month2 = month + relativedelta(months=1)
    anzahl = requests.get("https://earthquake.usgs.gov/fdsnws/event/1/count?starttime=" + str(month) + "&endtime=" + str(month2))
    timeframe = month.strftime("%B")
    
    mini_dict = {"Monat": str(timeframe),
                 "Anzahl Ereignisse": anzahl.text}
    
    liste_.append(mini_dict)
    #print(str(timeframe) +": " + anzahl.text)

In [27]:
import pandas as pd

In [35]:
pd.DataFrame(liste_)

       Monat Anzahl Ereignisse
0    January             14266
1   February             11818
2      March             13593
3      April             12752
4        May             11813
5       June             13706
6       July             16329
7     August             16139
8  September              4471

In [32]:
pd.DataFrame(liste_)

       Monat Anzahl Ereignisse
0    January             14266
1   February             11818
2      March             13593
3      April             12752
4        May             11813
5       June             13706
6       July             16329
7     August             16139
8  September              4471