In [1]:
import requests

In [2]:
import pandas as pd

In [16]:
import time

## Liste der Ticker laden

In [3]:
df = pd.read_csv('company_names.csv')

In [5]:
df.head()

    Company Ticker
0   ABB LTD   ABBN
1    ADECCO   ADEN
2     ALCON    ALC
3       AMS    AMS
4  CLARIANT    CLN

## Daten runterladen

In [34]:
url1 = 'https://query1.finance.yahoo.com/v7/finance/download/'
url2 = '.SW?period1=1444608000&period2=1602374400&interval=1d&events=history&includeAdjustedClose=true'

In [35]:
data = []

In [37]:
for ticker in df['Ticker']:
    url = url1 + ticker + url2
    #print(url)
    response = requests.get(url)
    data.append(response.text)
    time.sleep(5)

## Daten checken

In [38]:
for (ticker, d) in zip(df['Ticker'], data):
    print (ticker, d[0:40])

ABBN Date,Open,High,Low,Close,Adj Close,Volum
ADEN Date,Open,High,Low,Close,Adj Close,Volum
ALC Date,Open,High,Low,Close,Adj Close,Volum
AMS Date,Open,High,Low,Close,Adj Close,Volum
CLN Date,Open,High,Low,Close,Adj Close,Volum
CSGN Date,Open,High,Low,Close,Adj Close,Volum
GEBN Date,Open,High,Low,Close,Adj Close,Volum
GIVN Date,Open,High,Low,Close,Adj Close,Volum
BAER Date,Open,High,Low,Close,Adj Close,Volum
KNIN Date,Open,High,Low,Close,Adj Close,Volum
LHN Date,Open,High,Low,Close,Adj Close,Volum
LOGN Date,Open,High,Low,Close,Adj Close,Volum
LONN Date,Open,High,Low,Close,Adj Close,Volum
NESN Date,Open,High,Low,Close,Adj Close,Volum
NOVN Date,Open,High,Low,Close,Adj Close,Volum
PGHN Date,Open,High,Low,Close,Adj Close,Volum
CFR Date,Open,High,Low,Close,Adj Close,Volum
ROG Date,Open,High,Low,Close,Adj Close,Volum
SCHP Date,Open,High,Low,Close,Adj Close,Volum
SGSN Date,Open,High,Low,Close,Adj Close,Volum
SIKA Date,Open,High,Low,Close,Adj Close,Volum
SOON Date,Open,High,Low,Close,Adj Close,Volum
UHR Date,Open,High,Low,Close,Adj Close,Volum
SLHN Date,Open,High,Low,Close,Adj Close,Volum
SREN Date,Open,High,Low,Close,Adj Close,Volum
SCMN Date,Open,High,Low,Close,Adj Close,Volum
TEMN Date,Open,High,Low,Close,Adj Close,Volum
UBSG Date,Open,High,Low,Close,Adj Close,Volum
VIFN Date,Open,High,Low,Close,Adj Close,Volum
ZURN Date,Open,High,Low,Close,Adj Close,Volum

## Daten abspeichern

In [39]:
for (ticker, d) in zip(df['Ticker'], data):
    with open('Bluechips/' + ticker + '.SW.csv', 'w') as f:
        f.write(d)