In [32]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [33]:
#Einlesen
url = "https://www.berufsberatung.ch/dyn/show/2930"
r = requests.get(url)
r = BeautifulSoup(r.text, "html.parser")

In [34]:
#Job IDs finden
jobs = []
for elem in r.find_all('div', {'class', 'row'})[8].find_all('a')[3:]:
    try:
        mini_dict = {"Jobtitel":elem["data-value"], "JobID": elem["data-value2"]}
        jobs.append(mini_dict)
    except:
        continue

In [35]:
df = pd.DataFrame(jobs)

In [78]:
df.head()

                                  Jobtitel    JobID
0                         Abdichter/in EFZ  51914.1
1              Abdichtungspraktiker/in EBA  51919.1
2                    Agrarpraktiker/in EBA  15008.2
3   Agrarpraktiker/in (Landwirtschaft) EBA  15009.2
4  Agrarpraktiker/in (Spezialkulturen) EBA  15010.2

In [45]:
#Mit den Lehrstellen IDs alle Lehrstellen nach Berufen auslesen
url = "https://www.berufsberatung.ch/dyn/show/2930?lang=de&Idx=0&OrderBy=1&Order=0&PostBackOrder=0&postBack=true&CountResult=12&Total_Idx=11&CounterSearch=3&UrlAjaxWebSearch=%2FLenaWeb%2FAjaxWebSearch&prof_=51914.1&LocName=&LocId=&Area=10&schoolyear_=2021&schoolyear_=2022&langcode_=de&langcode_=fr&langcode_=it&langcode_=rm&langcode_=en"

In [46]:
r = requests.get(url)
r = BeautifulSoup(r.text, "html.parser")
list_of_jobs = r.find_all('div', {'class':'border-bottom-0-important'})

In [47]:
#Testen für Firmen
r.find_all('div', {'class':'border-bottom-0-important'})[0].find('div', {'class':'table-col-1'}).text

'Jakob Tanner AG'

In [48]:
#Testen für Lehrstelle
r.find_all('div', {'class':'border-bottom-0-important'})[0].find('div', {'class':'table-col-2'}).text

'Abdichter/in EFZ'

In [49]:
#Testen für Orte
r.find_all('div', {'class':'border-bottom-0-important'})[0].find('div', {'class':'table-col-3'}).text

'Aadorf (TG)'

In [50]:
#Testen für Anzahl Lehrstellen
r.find_all('div', {'class':'border-bottom-0-important'})[0].find('div', {'class':'table-col-5'}).text

'\n1 Lehrstelle(n)\n'

In [51]:
#Zusammenführen
finallist = []

for job in list_of_jobs:
    #print(job.find('div', {'class':'table-col-1'}).text)
    company = job.find('div', {'class':'table-col-1'}).text #company
    j = job.find('div', {'class':'table-col-2'}).text #job
    location = job.find('div', {'class':'table-col-3'}).text #loation

    try:
        count = job.find('div', {'class':'table-col-5'}).text #count
    except:
        count = "N/A"
    minidict = {'company': company,
                'job': j,
                'location': location,
                'count':count}
    finallist.append(minidict)

In [52]:
#DataFrame bauen
pd.DataFrame(finallist)

,company,job,location,count
0,Jakob Tanner AG,Abdichter/in EFZ,Aadorf (TG),\n1 Lehrstelle(n)\n
1,Bautherm Flachdach Spenglerei AG,Abdichter/in EFZ,Aarburg (AG),\n1 Lehrstelle(n)\n
2,Abdichtungsbau Durrer AG,Abdichter/in EFZ,Alpnach Dorf (OW),\n2 Lehrstelle(n)\n
3,Abdichtungsbau Durrer AG,Abdichter/in EFZ,Alpnach Dorf (OW),\n2 Lehrstelle(n)\n
4,Carl Meier Sohn AG,Abdichter/in EFZ,Bassersdorf (ZH),\n1 Lehrstelle(n)\n
...,...,...,...,...
85,Maillard Bedachungen AG,Abdichter/in EFZ,Winterthur (ZH),\n1 Lehrstelle(n)\n
86,Böhi + Wirz AG,Abdichter/in EFZ,Ziefen (BL),\n1 Lehrstelle(n)\n
87,Bär Dachtechnik AG,Abdichter/in EFZ,Zofingen (AG),\n1 Lehrstelle(n)\n
88,H. Kreiner AG,Abdichter/in EFZ,Zürich (ZH),\n1 Lehrstelle(n)\n
89,Preisig AG,Abdichter/in EFZ,Zürich (ZH),\n2 Lehrstelle(n)\n

In [53]:
## Alle Lehrstellen aller Firmen
df['JobID']

0      51914.1
1      51919.1
2      15008.2
3      15009.2
4      15010.2
        ...
633    64011.1
634    64012.1
635    30303.1
636    54218.1
637
Name: JobID, Length: 638, dtype: object

In [55]:
all_jobs2 = []

#Mit den Lehrstellen IDs alle Lehrstellen nach Berufen auslesen
url1 = "https://www.berufsberatung.ch/dyn/show/2930?lang=de&Idx=0&OrderBy=1&Order=0&PostBackOrder=0&postBack=true&CountResult=1000&Total_Idx=11&CounterSearch=3&UrlAjaxWebSearch=%2FLenaWeb%2FAjaxWebSearch&prof_="
url2 = "&LocName=&LocId=&Area=10&schoolyear_=2021&schoolyear_=2022&langcode_=de&langcode_=fr&langcode_=it&langcode_=rm&langcode_=en"

for ID in df['JobID']:
    r = requests.get(url1+ID+url2)
    r = BeautifulSoup(r.text, "html.parser")
    list_of_jobs = r.find_all('div', {'class':'border-bottom-0-important'})
    
    finallist = []

    for job in list_of_jobs:
        #print(job.find('div', {'class':'table-col-1'}).text)
        company = job.find('div', {'class':'table-col-1'}).text #company
        j = job.find('div', {'class':'table-col-2'}).text #job
        location = job.find('div', {'class':'table-col-3'}).text #loation

        try:
            count = job.find('div', {'class':'table-col-5'}).text #count
        except:
            count = "N/A"
        minidict = {'company': company,
                'job': j,
                'location': location,
                'count':count}
        finallist.append(minidict)
    
    all_jobs = all_jobs + finallist
    print(ID)

51914.1
51919.1
15008.2
15009.2
15010.2
15011.2
44727.1
44702.1
40105.1
54603.1
86913.1
85506.1
47416.2
46426.2
46318.1
46324.1
46326.1
46325.1
46321.1
46323.1
46322.1
21107.1
21104.2
21105.2
21106.2
43906.1
51007.1
51005.1
27121.1
27121.6
27121.2
27121.3
27121.5
27121.4
27122.1
39905.1
88614.1
54215.1
54215.2
54215.3
51706.2
51708.2
51707.2
30405.1
30404.1
70512.1
43102.1
90904.1
90905.1
90907.1
90906.1
68103.2
45307.1
45308.1
45306.1
37006.1
37005.1
37005.2
37005.3
37005.4
82013.1
82014.1
51915.1
51920.1
28503.1
86916.1
71800.1
71801.1
71802.1
71803.1
71804.1
71805.1
71806.1
71807.1
71808.1
71809.1
71810.1
71811.1
71812.1
71813.1
71814.1
71815.1
71816.1
71817.1
71818.1
71819.1
71820.1
71821.1
71822.1
71400.1
71495.1
71412.1
71405.1
71429.1
71426.1
71425.1
71423.1
71414.1
71493.1
71420.1
71427.1
71497.1
71494.1
71418.1
71424.1
71492.1
71411.1
71430.1
71422.1
71419.1
71498.1
71417.1
71409.1
71410.1
71428.1
71416.1
71406.1
71421.1
71900.3
71901.3
71902.3
71903.3
71904.3
71905.3
71906.3
71907.3
71908.3
71909.3
71910.3
71911.3
71912.3
71913.3
71914.3
71915.3
71916.3
71917.3
71918.3
71919.3
71920.3
71921.3
71922.3
71900.2
71901.2
71902.2
71903.2
71904.2
71905.2
71906.2
71907.2
71908.2
71909.2
71910.2
71911.2
71912.2
71913.2
71914.2
71915.2
71916.2
71917.2
71918.2
71919.2
71920.2
71921.2
71922.2
71600.1
71695.1
71612.1
71605.1
71629.1
71626.1
71625.1
71623.1
71614.1
71693.1
71620.1
71627.1
71697.1
71694.1
71618.1
71624.1
71692.1
71611.1
71630.1
71622.1
71619.1
71698.1
71617.1
71609.1
71610.1
71628.1
71616.1
71606.1
71621.1
71700.1
71795.1
71712.1
71705.1
71729.1
71726.1
71725.1
71723.1
71714.1
71793.1
71720.1
71727.1
71797.1
71794.1
71718.1
71724.1
71792.1
71711.1
71722.1
71719.1
71798.1
71717.1
71709.1
71710.1
71728.1
71716.1
71706.1
71721.1
79004.1
70604.2
50009.1
47418.1
46505.2
64505.1
52505.1
52504.1
52504.4
52504.3
52504.2
70611.1
94308.1
94312.1
94309.1
94311.1
94310.1
80200.1
80200.2
80200.3
85701.2
86914.1
79615.1
70508.1
76501.1
36504.1
36506.1
36507.1
36505.1
74115.1
80607.1
80607.2
80607.3
46105.1
44903.1
51916.1
51921.1
40312.1
21812.1
21812.2
21812.3
21808.1
21811.1
21809.1
21810.1
17205.1
17204.1
30905.3
30906.2
19103.1
19104.1
90602.1
35214.1
17018.1
17016.1
17017.1
17000.1
17013.1
17012.1
17014.1
17015.1
88607.1
88609.1
88610.1
88608.1
80103.1
80102.1
64616.2
64617.2
64618.2
16403.3
16403.4
54213.1
17011.3
17011.4
64104.1
64104.2
64104.3
64104.4
51917.1
51922.1
53108.1
25805.1
52002.1
52003.1
40403.1
39605.1
51416.1
51422.1
50007.1
90305.1
44305.1
51417.1
51423.1
41208.2
41209.2
41210.2
41211.2
41215.2
41214.2
41213.2
41212.2
41217.2
41216.2
47705.1
47705.2
47705.3
47705.4
47705.5
79616.1
47605.1
30206.1
30206.2
30206.3
90003.1
30203.1
30204.1
30205.1
30004.1
85505.1
78403.1
79200.1
78420.1
43703.1
88605.1
51418.1
51424.1
39507.1
53304.1
28404.1
88611.1
88613.1
88612.1
47117.1
52203.1
47808.1
47806.1
47806.2
47806.4
47806.3
47806.5
47807.1
47807.2
47807.4
47807.3
47807.5
80003.1
68500.1
68501.1
68502.1
68508.21
68503.1
68504.1
68505.221
68505.321
68505.21
68506.1
68507.1
68509.1
68510.1
68511.1
68512.1
68513.1
68515.1
68514.1
68516.1
68517.1
68518.1
68519.1
68520.21
68521.21
68600.1
68601.1
68602.1
68608.21
68603.1
68604.1
68605.221
68605.321
68605.21
68606.1
68607.1
68609.1
68610.1
68611.1
68612.1
68613.1
68615.1
68614.1
68616.1
68617.1
68618.1
68619.1
68620.21
68621.21
39506.2
54216.1
46106.1
79007.1
64208.2
54402.1
82112.2
79022.1
31703.1
38321.1
38326.1
38323.1
38324.1
38325.1
38322.1
38327.1
38327.6
38327.3
38327.4
38327.5
38327.2
65329.1
65324.1
65325.1
65327.1
65326.1
45305.1
45305.2
45305.3
43905.1
15005.3
15005.4
21415.1
21416.1
21416.2
21416.3
21416.4
21416.5
21416.6
21416.7
21416.8
21416.9
95511.1
95506.1
95507.1
95508.1
95509.1
47907.1
47909.1
47908.1
53002.1
53003.1
75103.1
51006.1
45906.2
88606.1
34200.1
34201.1
34202.1
34203.1
86915.1
87101.1
43813.1
44503.2
44504.2
44505.2
44507.2
64404.1
44506.1
48308.1
48308.3
48308.2
48308.4
48309.1
21607.1
21606.1
21606.3
21606.4
21606.5
21606.2
21606.6
47419.1
43907.1
46204.1
21005.1
21006.1
21007.1
47006.1
47006.4
47006.3
47006.2
47417.1
47417.2
47417.4
47417.3
42003.2
42004.1
42004.4
42004.2
42004.3
49707.1
49707.3
49707.2
16003.3
16003.4
51204.1
54217.1
36105.1
54005.1
33004.1
18114.1
18118.1
18120.1
18116.1
18115.1
18119.1
18117.1
18121.1
51419.1
65328.1
51103.1
51104.1
82118.1
50305.1
90503.1
90503.2
90503.3
90503.4
34711.1
45705.1
45707.2
45706.2
35316.1
35316.2
35316.6
35316.5
35316.3
35316.4
35316.7
35311.1
35312.1
35313.1
35315.1
35314.1
45716.2
48310.1
28420.1
95006.1
46320.1
79024.1
78705.1
47706.1
30513.1
30515.1
30514.1
30517.1
30516.1
30506.1
30506.3
30506.2
36104.1
56505.1
56504.1
50008.1
45405.1
39207.1
39210.1
39208.1
39211.1
39209.1
51425.1
51923.1
51918.1
51420.1
51426.1
73304.2
73305.1
79008.1
26309.1
26309.2
26309.3
26311.1
26312.1
26313.1
26316.1
26315.1
26314.1
53107.1
86917.1
18110.1
18111.1
18112.1
18113.1
49208.4
49208.7
49208.6
49208.5
49005.1
49005.3
49005.2
49207.1
80201.1
66500.1
31604.1
33315.1
33313.1
33313.2
33313.3
22603.2
16103.3
16103.4
28502.1
54104.1
64000.1
64008.1
64009.1
64010.1
64011.1
64012.1
30303.1
54218.1

In [54]:
df['JobID']

0      51914.1
1      51919.1
2      15008.2
3      15009.2
4      15010.2
        ...
633    64011.1
634    64012.1
635    30303.1
636    54218.1
637
Name: JobID, Length: 638, dtype: object

In [56]:
len(all_jobs)

25692

In [58]:
len(all_jobs)

25692

In [59]:
pd.DataFrame(all_jobs).to_csv("lehren2.csv")

In [60]:
df2 = pd.DataFrame(all_jobs)

In [65]:
list(df2)

['company', 'job', 'location', 'count']

In [68]:
def clean(elem):
    elem = elem.replace("\n", "")
    elem = elem.split(" ")[0]
    elem = int(elem)
    return elem
df2['count'] = df2['count'].apply(clean)

In [69]:
df2['count'].sum()

33727

In [72]:
df2.groupby('company')['count'].sum().sort_values()

company
1001 Carreaux                                           1
Physio in Fit GmbH                                      1
Physio Training Wilchingen                              1
Photo Vision Zumstein SA                                1
Photo Vision SA                                         1
                                                     ...
Coop Genossenschaft                                   197
Volg Detailhandels AG                                 210
Zürcher Kantonalbank                                  227
Places d'apprentissage dans tout le canton de Vaud    326
Post CH AG                                            435
Name: count, Length: 8890, dtype: int64