In [1]:
import pandas as pd

In [ ]:
pd.

In [7]:
 #import pandas as pd.
    # assign data of lists.
  #  data = {'Name': ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18]}
    # Create DataFrame.
#    df = pd.DataFrame(data)
    # Print the output.
 #   print(df)

    # assign data of lists.
    data = {'Name': ['Tom', 'Joseph', 'Krish', 'John'], 'Age': [20, 21, 19, 18]}
    # Create DataFrame.
    df = pd.DataFrame(data)
    # Print the output.
    print(df)

In [30]:
data = {'Destination': [], 'Passagiere': [], 'Departement': []}

In [31]:
df = pd.DataFrame(data=data)

In [32]:
df.set_index

<bound method DataFrame.set_index of Empty DataFrame
Columns: [Destination, Passagiere, Departement]
Index: []>

In [20]:
read_file = pd.read_excel (r'WBF2017.xlsx')
read_file.to_csv (r'WBF2017.csv', index = None, header=True)

In [22]:
wbf17 = pd.read_csv(r'WBF2017.csv')

In [29]:
wbf17.columns

Index(['LV-Rechnung', 'Flugtyp', 'Stunden', 'Kunde LTDB', 'Flugziel',
       'Flugdatum', 'Zusatzinformation', 'Passagiere'],
      dtype='object')