In [2]:
#import camelot
import tabula
import pandas as pd

### Die Dokumentation ist hier

Hier ist die Dokumentation von [Camelot](https://camelot-py.readthedocs.io/en/master/). Und hier diejenige von [Tabula](https://pypi.org/project/tabula-py/).

### Wir arbeiten mit den Unfällen

In [3]:
df = tabula.read_pdf('Bericht_110 ohne AB_AS Gemeinden-Stand 2018 (D).pdf', pages='all')

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,davon,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,Unfälle mit\rSach-schaden,NaN,Unfälle mit\rPersonen-\rschaden,NaN,Getötete,NaN,Schwer-\rverletzte,NaN,lebens-\rbedrohlich\rVerletzte1,NaN,erheblich\rVerletzte1,NaN,Leicht-verletzte
1,Total,NaN,2 489,NaN,2 397,NaN,34,NaN,506,NaN,30,NaN,476,NaN,2 344
2,Aarberg,NaN,26,NaN,12,NaN,0,NaN,2,NaN,0,NaN,2,NaN,15
3,Aarwangen,NaN,10,NaN,15,NaN,0,NaN,2,NaN,0,NaN,2,NaN,14
4,Adelboden,NaN,8,NaN,11,NaN,1,NaN,3,NaN,0,NaN,3,NaN,9

In [5]:
df2 = tabula.read_pdf("https://github.com/tabulapdf/tabula-java/raw/master/src/test/resources/technology/tabula/arabic.pdf")

In [6]:
df2.head()

,اسمي سلطانمرحباً\rمن اين انت؟انا من ولاية كارولينا الشمال\r1234عندي 47 قطط\rاسمي Jeremy في الانجليزيةهل انت شباك؟\rJeremy is جرمي in Arabic,Unnamed: 1
0,مرحباً,اسمي سلطان
1,انا من ولاية كارولينا الشمال,من اين انت؟
2,1234,عندي 47 قطط
3,هل انت شباك؟,اسمي Jeremy في الانجليزية
4,Jeremy is جرمي in Arabic,NaN

[Tabula Dokumentation](https://tabula-py.readthedocs.io/en/latest/faq.html#tabula-py-does-not-work)

[How to grab the PDF coordinates.](https://github.com/tabulapdf/tabula-java/wiki/Using-the-command-line-tabula-extractor-tool#grab-coordinates-of-the-table-you-want)

In [17]:
df = tabula.read_pdf('Bericht_110 ohne AB_AS Gemeinden-Stand 2018 (D).pdf', area=(114.0,50.0,779.88,561.128))

In [18]:
df

,Unnamed: 0,Unfälle mit\rSach-schaden,Unfälle mit\rPersonen-\rschaden,Getötete,Schwer-\rverletzte,lebens-\rbedrohlich\rVerletzte1,erheblich\rVerletzte1,Leicht-verletzte,Unnamed: 8
0,Total,2 489,2 397,34,506,30,476,2 344,NaN
1,Aarberg,26,12,0,2,0,2,15,NaN
2,Aarwangen,10,15,0,2,0,2,14,NaN
3,Adelboden,8,11,1,3,0,3,9,NaN
4,Aefligen,0,0,0,0,0,0,0,NaN
5,Aegerten,3,3,0,0,0,0,4,NaN
6,Aeschi bei Spiez,9,6,0,2,0,2,5,NaN
7,Affoltern im Emmental,3,4,0,0,0,0,4,NaN
8,Alchenstorf,1,1,0,0,0,0,2,NaN
9,Allmendingen,5,3,0,2,0,2,1,NaN
10,Amsoldingen,2,0,0,0,0,0,0,NaN
11,Arch,1,2,0,0,0,0,2,NaN
12,Arni (BE),2,1,0,0,0,0,1,NaN
13,Attiswil,2,1,0,0,0,0,1,NaN
14,Auswil,1,0,0,0,0,0,0,NaN
15,Bannwil,1,1,0,1,0,1,0,NaN
16,Bargen (BE),2,4,0,0,0,0,4,NaN
17,Bäriswil,1,3,0,0,0,0,5,NaN
18,Bätterkinden,4,6,0,0,0,0,7,NaN
19,Beatenberg,4,4,0,0,0,0,5,NaN
20,Bellmund,1,0,0,0,0,0,0,NaN
21,Belp,25,30,0,5,0,5,27,NaN
22,Belprahon,1,0,0,0,0,0,0,NaN
23,Berken,0,1,0,1,0,1,0,NaN
24,Bern,353,345,5,69,7,62,333,NaN
25,Bettenhausen,2,1,0,0,0,0,1,NaN
26,Biel/Bienne,196,201,1,23,1,22,193,NaN
27,Biglen,1,1,0,1,0,1,0,NaN
28,Bleienbach,5,2,0,0,0,0,2,NaN
29,Blumenstein,0,4,0,2,1,1,3,NaN
30,Bolligen,13,7,0,2,0,2,5,NaN
31,Boltigen,14,12,0,5,0,5,16,NaN
32,Bönigen,4,2,0,3,0,3,3,NaN
33,Bowil,2,5,1,2,0,2,4,NaN
34,Bremgarten bei Bern,3,1,0,0,0,0,1,NaN
35,Brenzikofen,1,0,0,0,0,0,0,NaN
36,Brienz (BE),7,6,0,2,1,1,6,NaN
37,Brienzwiler,3,8,1,5,0,5,4,NaN
38,Brügg,16,14,0,1,0,1,15,NaN
39,Brüttelen,0,4,0,3,0,3,3,NaN
40,Buchholterberg,1,2,0,0,0,0,8,NaN
41,Büetigen,2,0,0,0,0,0,0,NaN
42,Bühl,1,1,0,0,0,0,1,NaN
43,Büren an der Aare,4,8,0,1,0,1,7,NaN
44,Burgdorf,48,48,2,7,0,7,45,NaN
45,Burgistein,4,1,0,1,0,1,0,NaN
46,Busswil bei Melchnau,0,0,0,0,0,0,0,NaN
47,Champoz,0,0,0,0,0,0,0,NaN
48,Clavaleyres,0,0,0,0,0,0,0,NaN
49,Corcelles (BE),3,0,0,0,0,0,0,NaN
50,Corgémont,2,5,0,1,0,1,4,NaN

### Wir arbeiten mit den Unfällen

In [6]:
#Kein Resultat 
tables = camelot.read_pdf('Bericht_110 ohne AB_AS Gemeinden-Stand 2018 (D).pdf', pages = "1") 
tables
#Ansteuern können wir die Tabelle auch mit der url selber:
#https://www.police.be.ch/police/de/index/ueber-uns/kantonspolizei/statistik/Verkehrsstatistik.assetref/dam/documents/POM/Police/de/Statistik/Bericht_110%20ohne%20AB_AS%20Gemeinden-Stand%202018%20%28D%29.pdf

In [8]:
#Kein Resultat
tables = camelot.read_pdf('Bericht_110 ohne AB_AS Gemeinden-Stand 2018 (D).pdf', flavor='lattice', pages = "1") 
tables

In [9]:
#Resultat, hurrah!
tables = camelot.read_pdf('Bericht_110 ohne AB_AS Gemeinden-Stand 2018 (D).pdf', flavor='stream', pages = "1") 
tables

In [10]:
#hmm, Aber nur mit einer unvollständigen Tabelle :-/
tables[0].df

,0,1,2,3,4,5,6,7
0,nach Unfallfolgen und Gemeinde,,,,,,,
1,,,,,,davon,,
2,,,Unfälle mit,,,lebens-,,
3,,Unfälle mit,Personen-,,Schwer-,bedrohlich,erheblich,
4,,Sach-schaden,schaden,Getötete,verletzte,Verletzte¹,Verletzte¹,Leicht-verletzte
5,Total,2 489,2 397,34,506,30,476,2 344
6,Aarberg,26,12,0,2,0,2,15
7,Aarwangen,10,15,0,2,0,2,14
8,Adelboden,8,11,1,3,0,3,9
9,Aefligen,0,0,0,0,0,0,0

In [11]:
#Wir müssen dem Code sagen, wo er überall nachschauen muss. Nämlich auf der ganzen Seite.
tables_stream = camelot.read_pdf("Bericht_110 ohne AB_AS Gemeinden-Stand 2018 (D).pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [12]:
tables_stream[0].df

,0,1,2,3,4,5,6,7
0,,"Übersicht: Gemeinde ohne Autobahn, Autostrasse",,,,,,
1,2018,,,,,,,
2,Unfälle und Verunfallte,,,,,,,
3,nach Unfallfolgen und Gemeinde,,,,,,,
4,,,,,,davon,,
5,,,Unfälle mit,,,lebens-,,
6,,Unfälle mit,Personen-,,Schwer-,bedrohlich,erheblich,
7,,Sach-schaden,schaden,Getötete,verletzte,Verletzte¹,Verletzte¹,Leicht-verletzte
8,Total,2 489,2 397,34,506,30,476,2 344
9,Aarberg,26,12,0,2,0,2,15
10,Aarwangen,10,15,0,2,0,2,14
11,Adelboden,8,11,1,3,0,3,9
12,Aefligen,0,0,0,0,0,0,0
13,Aegerten,3,3,0,0,0,0,4
14,Aeschi bei Spiez,9,6,0,2,0,2,5
15,Affoltern im Emmental,3,4,0,0,0,0,4
16,Alchenstorf,1,1,0,0,0,0,2
17,Allmendingen,5,3,0,2,0,2,1
18,Amsoldingen,2,0,0,0,0,0,0
19,Arch,1,2,0,0,0,0,2
20,Arni (BE),2,1,0,0,0,0,1
21,Attiswil,2,1,0,0,0,0,1
22,Auswil,1,0,0,0,0,0,0
23,Bannwil,1,1,0,1,0,1,0
24,Bargen (BE),2,4,0,0,0,0,4
25,Bäriswil,1,3,0,0,0,0,5
26,Bätterkinden,4,6,0,0,0,0,7
27,Beatenberg,4,4,0,0,0,0,5
28,Bellmund,1,0,0,0,0,0,0
29,Belp,25,30,0,5,0,5,27
30,Belprahon,1,0,0,0,0,0,0
31,Berken,0,1,0,1,0,1,0
32,Bern,353,345,5,69,7,62,333
33,Bettenhausen,2,1,0,0,0,0,1
34,Biel/Bienne,196,201,1,23,1,22,193
35,Biglen,1,1,0,1,0,1,0
36,Bleienbach,5,2,0,0,0,0,2
37,Blumenstein,0,4,0,2,1,1,3
38,Bolligen,13,7,0,2,0,2,5
39,Boltigen,14,12,0,5,0,5,16
40,Bönigen,4,2,0,3,0,3,3
41,Bowil,2,5,1,2,0,2,4
42,Bremgarten bei Bern,3,1,0,0,0,0,1
43,Brenzikofen,1,0,0,0,0,0,0
44,Brienz (BE),7,6,0,2,1,1,6
45,Brienzwiler,3,8,1,5,0,5,4
46,Brügg,16,14,0,1,0,1,15
47,Brüttelen,0,4,0,3,0,3,3
48,Buchholterberg,1,2,0,0,0,0,8
49,Büetigen,2,0,0,0,0,0,0
50,Bühl,1,1,0,0,0,0,1
51,Büren an der Aare,4,8,0,1,0,1,7
52,Burgdorf,48,48,2,7,0,7,45
53,Burgistein,4,1,0,1,0,1,0
54,Busswil bei Melchnau,0,0,0,0,0,0,0
55,Champoz,0,0,0,0,0,0,0
56,Clavaleyres,0,0,0,0,0,0,0
57,Corcelles (BE),3,0,0,0,0,0,0
58,Corgémont,2,5,0,1,0,1,4

## Datenbereinigung

In [13]:
# Nun müssen alle Tabelln zusammengeführt werden. Aber wie soll eine einzelne aussehen?
test_df = tables_stream[3].df

In [14]:
test_df[9:].head()

                      0   1   2  3  4  5  6   7
9            Langenthal  35  46  1  7  0  7  50
10  Langnau im Emmental  17  19  2  2  0  2  17
11              Lauenen   1   0  0  0  0  0   0
12               Laupen  12   5  0  0  0  0   6
13           Lauperswil   4  10  0  2  1  1  13

In [15]:
#Ab der 8 Zeile
data = test_df[9:]

In [16]:
headers = ['Gemeinde', 'Sachschaden', 'Personenschaden', 'Getötete', 
           'Schwerverletzte', 'Lebensbedrohlich Verletzte', 
           'Erheblich Verletzte', 'Leichtverletzte']

In [17]:
data.columns = headers

### Und nun hängen wir alls zusammen

In [18]:
#eine leere df bauen
ff = pd.DataFrame()
headers = ['Gemeinde', 'Sachschaden', 'Personenschaden', 'Getötete', 
           'Schwerverletzte', 'Lebensbedrohlich Verletzte', 
           'Erheblich Verletzte', 'Leichtverletzte']

#Und nun durch alles iterieren
#https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
for number in range(0,8):
    temp = tables_stream[number].df #
    temp = temp[9:]
    temp.columns = headers
    ff = pd.concat([ff, temp])

In [19]:
ff.describe()

,Gemeinde,Sachschaden,Personenschaden,Getötete,Schwerverletzte,Lebensbedrohlich Verletzte,Erheblich Verletzte,Leichtverletzte
count,347,347,347,347,347,347,347,347
unique,347,36,35,5,16,5,14,37
top,Kernenried,0,0,0,0,0,0,0
freq,1,71,71,319,175,324,179,92

In [20]:
ff.dtypes

Gemeinde                      object
Sachschaden                   object
Personenschaden               object
Getötete                      object
Schwerverletzte               object
Lebensbedrohlich Verletzte    object
Erheblich Verletzte           object
Leichtverletzte               object
dtype: object

In [21]:
ff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 9 to 55
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Gemeinde                    347 non-null    object
 1   Sachschaden                 347 non-null    object
 2   Personenschaden             347 non-null    object
 3   Getötete                    347 non-null    object
 4   Schwerverletzte             347 non-null    object
 5   Lebensbedrohlich Verletzte  347 non-null    object
 6   Erheblich Verletzte         347 non-null    object
 7   Leichtverletzte             347 non-null    object
dtypes: object(8)
memory usage: 24.4+ KB

In [22]:
## Mit leeren Strings umgehen
def clean(elem):
    if elem == "":
        return 0
    else:
        return elem
ff = ff.applymap(clean)

In [23]:
## Die Gemeinden zwischenzeitlich löschen und dann wieder reinnehmen bei der Umwandlung in Zahlen
gem = ff['Gemeinde'] 
del ff['Gemeinde']
ff = ff.astype(int)
ff['Gemeinde'] = gem
ff = ff[['Gemeinde', 'Sachschaden', 'Personenschaden', 'Getötete', 
           'Schwerverletzte', 'Lebensbedrohlich Verletzte', 
           'Erheblich Verletzte', 'Leichtverletzte']].copy() ##Reihenfolge

In [24]:
ff = ff.reset_index()

In [25]:
#index anpassen
ff = ff.reset_index()
del ff['index']

In [26]:
ff

,level_0,Gemeinde,Sachschaden,Personenschaden,Getötete,Schwerverletzte,Lebensbedrohlich Verletzte,Erheblich Verletzte,Leichtverletzte
0,0,Aarberg,26,12,0,2,0,2,15
1,1,Aarwangen,10,15,0,2,0,2,14
2,2,Adelboden,8,11,1,3,0,3,9
3,3,Aefligen,0,0,0,0,0,0,0
4,4,Aegerten,3,3,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...
342,342,Zollikofen,21,15,1,4,0,4,10
343,343,Zuzwil (BE),0,0,0,0,0,0,0
344,344,Zweisimmen,6,5,1,1,1,0,4
345,345,Zwieselberg,1,1,0,1,0,1,0
346,346,¹ Zahlen für lebensbedrohlich Verletzte und er...,0,0,0,0,0,0,0

In [27]:
ff.sort_values(by='Sachschaden', ascending=False)

,level_0,Gemeinde,Sachschaden,Personenschaden,Getötete,Schwerverletzte,Lebensbedrohlich Verletzte,Erheblich Verletzte,Leichtverletzte
23,23,Bern,353,345,5,69,7,62,333
25,25,Biel/Bienne,196,201,1,23,1,22,193
292,292,Thun,129,138,0,26,2,24,135
141,141,Köniz,78,71,0,11,1,10,64
43,43,Burgdorf,48,48,2,7,0,7,45
...,...,...,...,...,...,...,...,...,...
178,178,Merzligen,0,1,0,0,0,0,1
177,177,Melchnau,0,3,0,0,0,0,3
160,160,Ligerz,0,2,0,1,0,1,1
148,148,Landiswil,0,2,0,0,0,0,3
346,346,¹ Zahlen für lebensbedrohlich Verletzte und er...,0,0,0,0,0,0,0