# Exploring und Plotting

**Inhalt:** Selbständige Übung in Gruppen

**Nötige Skills:** Erste Schritte mit Pandas

**Lernziele:**
- Daten herunterladen und einlesbar aufbereiten
- Selbständig Daten explorieren und Storyideen testen
- Colormaps kennenlernen

# Das Beispiel

Temperaturdaten von Meteoschweiz.

Quelle und Dokumentation: https://www.meteoschweiz.admin.ch/home/klima/schweizer-klima-im-detail/schweizer-temperaturmittel/daten-schweizer-temperaturmittel.html

Datenfile: https://www.meteoschweiz.admin.ch/product/input/climate-data/swissmean/10.18751-Climate-Timeseries-CHTM-1.1-swiss.txt

Speichern Sie die Datei an einem geeigneten Ort, zB im Unterornder `dataprojects/Meteoschweiz/`

## Vorbereitung

Wir laden die übliche Library:

In [2]:
import pandas as pd

## Datenfile laden

In [3]:
path = "dataprojects/Meteoschweiz/10.18751-Climate-Timeseries-CHTM-1.1-swiss_edited.xlsx"

In [4]:
df = pd.read_excel(path)

In [5]:
df

,time,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec
0,1864,-7.10,-4.52,0.04,2.11,7.43,9.48,12.37,10.95,8.59,3.50,-0.51,-4.47
1,1865,-3.47,-6.25,-5.91,7.03,10.09,10.98,13.99,11.16,11.90,5.19,1.26,-3.07
2,1866,-1.31,-0.42,-1.00,4.11,4.95,12.02,12.25,9.98,9.70,5.34,-0.20,-0.49
3,1867,-3.87,0.56,-0.13,3.49,7.74,10.57,11.29,12.93,10.43,2.92,-1.43,-5.80
4,1868,-5.46,-1.53,-2.30,2.33,12.04,11.97,12.89,12.50,11.12,4.76,-1.98,1.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,2016,-1.10,-0.19,0.14,4.57,7.88,11.97,15.09,14.80,12.54,5.38,1.82,-0.11
153,2017,-5.15,0.46,4.11,4.42,9.80,15.18,15.05,15.45,8.65,7.78,0.88,-2.43
154,2018,0.48,-5.21,-0.21,7.81,10.43,13.81,16.24,15.89,12.56,8.04,2.79,-0.11
155,2019,-4.37,0.73,2.27,4.47,6.08,15.25,16.21,15.10,11.37,8.45,1.51,0.78
156,2020,-0.28,1.62,1.53,7.62,9.53,11.82,15.40,15.20,11.87,5.36,3.69,-1.18

## Daten checken

**Länge und Spalten**

In [ ]:
df.shape

**Integrität**

In [ ]:
df.dtypes

**Was bedeuten die einzelnen Spalten?**

## Explorieren

Ihr Ziel ist, aus den Temperaturdaten eine einfache Story zu generieren.

Überlegen Sie sich dazu:
- Welche Fragen richten Sie an das Temperaturdaten-Set?
- Welche Auswertungen sind nötig, um die Fragen zu beanworten?
- Wie stellen Sie die Resultate mittels Grafiken dar?

Arbeiten Sie in Gruppen, um ein Ergebnis zu erarbeiten:
- Drei bis vier Sätze, welche die Story zusammenfassen
- eine oder mehrere Grafiken, die das Ergebnis illustrieren

### Story

Führen Sie zum Schluss hier Ihren "Pitch" and die Redaktion auf, mit Grafik und Kurzbeschrieb